* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

#wrapper {
    width: 100%;
    position: relative;
}

@font-face {
    font-family: 'Lato', sans-serif;
    src: url(../fonts/Lato-Bold.ttf);
    src: url(../fonts/Lato-Italic.ttf);
    src: url(../fonts/Lato-Light.ttf);
    src: url(../fonts/Lato-LightItalic.ttf);
    src: url(../fonts/Lato-Regular.ttf);
}

.header {
    height: 800px;
    width: 100%;
    background-image: url(../images/header_img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menutop {
    padding-top: 35px;
    margin: 0 auto;
    display: flex;
    width: 55%;
    justify-content: space-around;
    height: 85px;
    align-items: center;
}

.menutop-link {
    display: flex;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #4d4959;
    letter-spacing: 1pt;
}

.menutop-logo {
    size: 100%;
}

.about {
    height: 469px;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 550%;
}

.about-items {
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.about-text {
    font-family: 'Lato', sans-serif;
    color: #848789;
    text-align: center;
    line-height: 150%;
}

.about-title {
    font-family: 'Lato', sans-serif;
    letter-spacing: 2pt;
    font-weight: bold;
    font-size: 18pt;
    color: #353738;
}

span {
    font-family: 'Lato', sans-serif;
    font-size: 18pt;
    font-weight: 550;
    color: #353738;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
}

.catalog-item {
    height: 600px;
    overflow: hidden;
}

.catalog-item.small {
    flex: 1 1 33%;
}

.catalog-item.large {
    flex: 2 1 66%;
}

.content {
    height: 65%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15%;

}

.triangle {
    width: 30px;
    height: 30px;
    transform: rotateZ(45deg);
    position: relative;
    top: -18px;
    margin: 0 auto -30px auto;
    background-color: white;
}

.bottom-img {
    width: 100%;
    min-height: 35%;
}

.content-title {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    letter-spacing: 2pt;
}

.content-description {
    text-align: justify;
    line-height: 1.61;
    font-family: 'Lato', sans-serif;
    color: #848789;
}

.catalog-item .img-container {
    height: 100%;
}

.catalog-item .img-container img {
    min-width: 100%;
    min-height: 100;
}

.catalog-item .content-container {
    height: 100%;
    position: relative;
    top: -100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.catalog-item .content-container  img {
    width: 160px;
}

.twitter {
    height: 469px;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;

}

.twitter-items {
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    line-height: 650%;
}

.twitter-text {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: lighter;
    color: #848789;
    font-size: 18pt;
    text-align: center;
    line-height: 150%;
}

.twitter-span {
    color: #353738;
    font-family: 'Lato', sans-serif;
    font-weight: 550;
    font-size: 18pt;
}

.twitter-span-alt {
    color: #848789;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 18pt;
}

.switch {
    display: flex;
    flex-direction: row;
    width: 6%;
    margin: 0 auto;
    margin-bottom: 50px;
    justify-content: space-between;
}

.round {
    width: 13px;
    height: 13px;
    border-radius: 7px;
    position: relative;
    margin: 0 auto;
    background-color: #f7f7f7;
    border: #848789 solid 1px;
}

.round:hover {
    width: 13px;
    height: 13px;
    border-radius: 7px;
    position: relative;
    margin: 0 auto;
    background-color: #848789;
    border: #848789 solid 1px;
}

.shop {
    display: flex;
}

.shop-group {
    flex: 1 1 33%;
    display: flex;
    flex-wrap: wrap;
}

.shop-item.small {
    width: 50%;
    height: 20vw;
}

.shop-item.horizontal {
    width: 100%;
    height: 20vw;
}

.shop-item.vertical {
    width: 50%;
    height: 40vw;
}

.shop-item .img-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.shop-item .img-container img {
    width: 100%;
    height: 100%;
}

.shop-item .logo-container {
    width: 100%;
    height: 100%;
    position: relative;
    top: -100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

.shop-item .logo-container:hover {
    background-color: #59d4a580;
}

.shop-item .logo-container:hover .logo {
    opacity: 1;
}

.shop-item .logo-container .logo {
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.shop-button-link {
    height: 200px;
    background-color: #282f35;
    display: flex;
    align-content: center;
    padding-top: 70px;
}

.shop-button {
    margin: 0 auto;
    height: 40%;
    width: 15%;
    background-color: #282f35;
    border: #ffffffc5 1px solid;
    color: #fafafa;
    font-family: 'Lato', sans-serif;
    font-size: 11pt;
    font-weight: bold;
    letter-spacing: 1pt;
}

.shop-button:hover {
    margin: 0 auto;
    height: 40%;
    width: 15%;
    background-color: #fafafa;
    border: #ffffffc5 2px solid;
    color: #212121;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    letter-spacing: 1pt;
}


.mail {
    height: 469px;
    line-height: 750%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mail-item {
    margin: 0 auto;
    display: flex;
    width: 55%;
    height: 85px;
    justify-content: center;
    align-items: center;

}

.mail-text {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    color: #848789;
    font-size: 20pt;
    text-align: center;
}

.mail-form {
    width: 30%;
    display: flex;
    justify-content: space-around;
    height: 60px;
}

.mail-input {
    width: 78%;
    padding: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-style: italic;
    font-size: 100%;
}

.mail-button {
    width: 20%;
    background-color: #64c29e;
    border: transparent;
    color: #f7f7f7;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 150%;
    letter-spacing: 1pt;
}

.mail-button:hover {
    width: 20%;
    background-color: #f7f7f7;
    border: #64c29e 2px solid;
    color: #64c29e;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 150%;
    letter-spacing: 1pt;
}

.footer {
    height:250px;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.footer-content {
    margin: 0 auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #848789;
    font-size: 12pt;
    line-height: 120%;
}

.footer-text {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    color: #848789;
    font-size: 12pt;
    line-height: 120%;
}

.footer-links{
    margin: 0 auto;
    padding-top: 10pt;
    padding-right: 100pt;
}

.footer-note {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    color: #848789;
    font-size: 12pt;
    line-height: 120%;
    display: flex;
    align-items: center;
}

.footer-note img{
    padding-left: 10px;
}

.alt-a {
    color: white;
    text-decoration: none;
}

a {
    color: #4d4959;
    text-decoration: none;
}

a:hover {
    color: #64c29e;
    text-decoration: none;
}
