* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

#wrapper {
    width: 100%;
    position: relative;
}

.header {
    height: 800px;
    width: 100%;
    background-image: url(../images/header_img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menutop {
    padding-top: 35px;
    margin: 0 auto;
    display: flex;
    width: 55%;
    justify-content: space-around;
    height: 85px;
    align-items: center;
}

.menutop-link {
    display: flex;
    font-family: Lato, Helvetica, sans-serif;
    src: url(fonts/Lato-Bold.ttf);
    font-size: 13pt;
    font-weight: 550;
    color: #4d4959;
}

.menutop-logo {
    size: 100%;
}

.about {
    height: 469px;
    background-color: #f7f7f7;
}

.about-items {
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-text {
    font-family: Lato;
    src: url(fonts/Lato-Regular.ttf);
    color: #848789;
}

span {
    font-family: Lato, Helvetica, sans-serif;
    src: url(fonts/Lato-Bold.ttf);
    font-size: 18pt;
    font-weight: 550;
    color: #353738;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
}

.catalog-item {
    height: 600px;
    overflow: hidden;
}

.catalog-item.small {
    flex: 1 1 33%;
}

.catalog-item.large {
    flex: 2 1 66%;
}

.content {
    height: 65%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15%;
}

.triangle {
    width: 30px;
    height: 30px;
    transform: rotateZ(45deg);
    position: relative;
    top: -16px;
    margin: 0 auto -32px auto;
    background-color: white;
}

.bottom-img {
    width: 100%;
}

.content-title {
    text-align: center;
    margin-bottom: 30px;
}

.content-description {
    text-align: justify;
    line-height: 1.61;
}

.catalog-item .img-container {
    height: 100%;
}

.catalog-item .img-container img {
    min-width: 100%;
    min-height: 100;
}

.catalog-item .content-container {
    height: 100%;
    position: relative;
    top: -100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.catalog-item .content-container  img {
    width: 30%;
}

.twitter {
    height: 469px;
    background-color: #f7f7f7;
}

.twitter-items {
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.twitter-text {
    font-family: Lato, Helvetica, sans-serif;
    src: url(fonts/Lato-Italic.ttf);
    font-style: italic;
    color: #848789;
    font-size: 24pt;
    text-align: center;
}

.twitter-span {
    color: #353738;
    font-family: Lato, Helvetica, sans-serif;
    src: url(fonts/Lato-Bold.ttf);
    font-weight: 550;
    font-size: 18pt;
}

.twitter-span-alt {
    color: #848789;
    font-family: Lato, Helvetica, sans-serif;
    src: url(fonts/Lato-Light.ttf);
    font-weight: 100;
    font-size: 18pt;
}

.shop {
    height: 534px;
}
